.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  width: 200px;
  padding: 14px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.ligar {
  background-color: #22c55e;
  color: white;
}

.desligar {
  background-color: #ef4444;
  color: white;
}

.status {
  margin-top: 20px;
  font-weight: bold;
}
